# Exclude packaged files
*.zip

# Exclude nupkgs
*.nupkg

# If you want to ignore a file that is already checked in,
# you must untrack the file before you add a rule to ignore it.
# From your terminal, untrack the file.
# git rm --cached